body {
    background-color: #F4F3EA;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.titlu {
    background-color: darkred;
    height: 10%;
} 

.selectMainPageInstrumente{
    width: 14%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 5%;
    font-size: 20px;
    color: #F4F3EA;
    background-color: darkred;
    border: none;
}

.selectMainPageInstrumente:hover{
    cursor: pointer;
}

.selectMainPageInstrumente:active{
    cursor: grabbing;
}

.prezentare {
    text-align: center;
}

.prezentare h1 {
    font-size: 300%;
}

.prezentare p {
    font-size: 150%;
}

p {
    margin-top: 1%;
}

footer {
    font-size: 12px;
}