body {
    background-color: #F4F3EA;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.titlu {
    background-color: darkred;
    height: 10%;
} 

#logo {
    max-width: 5%;
    height: 5%;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    display: inline;
}

.selectMainPageInstrumente{
    width: 12%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 4%;
    font-size: 20px;
    color: #F4F3EA;
    background-color: darkred;
    border: none;
}

.selectMainPageInstrumente:hover{
    cursor: pointer;
}

.selectMainPageInstrumente:active{
    cursor: grabbing;
}

.prezentare {
    text-align: center;
}

.prezentare h1 {
    font-size: 300%;
}

.celeMaiBuneProduse {
    border: darkred;
    border-style: dotted;
    border-radius: 5px;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.celeMaiBuneProduse div {
    display: inline-block;
}

.produs{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border: darkred;
    border-style: solid;
    border-radius: 5px;
    max-width: 14%; 
    height: 30%; 
}

.pozaInstrument {
    max-width: 30%;
    border-radius: 5px;
}

#wrapper1 {
    background: #dd5a5a;
    overflow: hidden;
    transition: max-height 300ms;
    max-height: 0;
}

#wrapper1.open{
    max-height: 100px;
}

#wrapper2 {
    background: #dd5a5a;
    overflow: hidden;
    transition: max-height 300ms;
    max-height: 0;
}

#wrapper2.open{
    max-height: 100px;
}

#wrapper3 {
    background: #dd5a5a;
    overflow: hidden;
    transition: max-height 300ms;
    max-height: 0;
}

#wrapper3.open{
    max-height: 100px;
}

#wrapper4 {
    background: #dd5a5a;
    overflow: hidden;
    transition: max-height 300ms;
    max-height: 0;
}

#wrapper4.open{
    max-height: 100px;
}

.catt{
    padding-left: 8.7%;
    list-style-type: none
}
.catt2{
    padding-left: 24.5%;
    list-style-type: none
}
.catt3{
    padding-left: 41.5%;
    list-style-type: none
}
.catt4{
    padding-left: 59.2%;
    list-style-type: none
}
